<div class="container-fluid">
    <div class="d-flex row justify-content-center">
        <div class="col">

            <h1 class="text-center">Añadir una nueva pizza</h1>

            <form [formGroup]="pizzaForm" (ngSubmit)="test()">
                <label for="name" class="form-label">Nombre de la pizza</label>
                <input formControlName="name" type="text" name="name" id="name" class="form-control"
                    placeholder="Escriba el nombre de la nueva pizza">


                <label for="dough" class="form-label">Masa</label>
                <select formControlName="dough" class="form-control" name="dough" id="dough">
                    <option *ngFor="let dough of getDough()" [value]="dough.id">{{dough.name}}</option>
                </select>

                <hr>
                <label class="form-label">Ingredientes</label>
                <div class="checkbox-container">
                    <div *ngFor="let ingredient of getIngredients()" class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="toppings" [value]="ingredient.id"
                            [id]="ingredient.id">
                        <label class="form-check-label">
                            {{ingredient.name}}
                        </label>
                    </div>
                </div>
            </form>
            <hr>
            <button class="btn btn-info" type="submit">Añadir Pizza</button>
        </div>
    </div>

</div>