<div class="container-fluid">
    <div class="d-flex row justify-content-center">
        <div class="col">

            <h1 class="text-center">Añadir una nueva pizza</h1>

            <form [formGroup]="pizzaForm" (ngSubmit)="test()">
                <label for="name" class="form-label">Nombre de la pizza</label>
                <input formControlName="name" type="text" name="name" id="name" class="form-control"
                    placeholder="Escriba el nombre de la nueva pizza">


                <label for="dough" class="form-label">Masa</label>
                <select formControlName="dough" class="form-control" name="dough" id="dough">
                    <option *ngFor="let dough of getDough()" [value]="dough">{{dough.name}}</option>
                </select>

                <hr>
                <label class="form-label">Ingredientes</label>
  
                <mat-button-toggle-group formControlName="toppings" aria-label="Font Style" multiple>
                    <mat-button-toggle *ngFor="let topping of getIngredients()" [value]="topping">{{topping.name}}</mat-button-toggle>
                </mat-button-toggle-group>

                <hr>
                <button class="btn btn-info" type="submit">Añadir Pizza</button>
            </form>
        </div>
    </div>

</div>