<mat-card [style.background-image]="'url(' + getUrl() + ')'" class="card">
  <span class="card-child">
    <mat-card-title class="card-item"><strong>{{ pizza.name }}</strong></mat-card-title>
    <mat-card-content class="card-item">
      <p *ngFor="let dough of getDough()">{{dough.name}}</p>
      <p>{{ingredients.length}}</p>
    </mat-card-content>
  </span>
  <mat-card-actions>
    
  </mat-card-actions>
    <mat-card-footer align="center">
      <button mat-stroked-button color="accent" [style.width]="'30%'" (click)="cardClick(pizza.id)">Detalles</button>
      <button mat-stroked-button color="primary" [style.width]="'50%'" (click)="cardClick(pizza.id)">{{pizza.price.toFixed(2)}} €</button>
    </mat-card-footer>
</mat-card>

