$primary-color: #642401;
$secondary-color: #803a20;
$body-color-dark: #a37f53;
$body-color-light: #D7A86E;

$font-color-dark: #1f1f1f;
$font-color-light: #cfcfcf;

mat-toolbar{
    background: $primary-color;
    color: $font-color-light;
    height: 8.5vh;
}

mat-toolbar::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/css-assets/bg-pattern3.webp');
    background-size: contain;
    opacity: 0.02;
}

mat-toolbar * {
    position: relative;
}

mat-divider {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $body-color-light;
}

mat-sidenav {
    padding: 2%;
    width: 20%;
    min-width: 15rem; 
    border-right: none;
    background: $secondary-color;
    color: $font-color-light;
}

.div-content {
    background: $body-color-dark;
    height: 91.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: $font-color-light;
}

.div-content::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/css-assets/bg-pattern2.jpg');
    background-size: contain;
    opacity: 0.02;
}

.div-content * {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

mat-sidenav-container {
    height: 91.5vh;
    // justify-content: center;
    // align-items: center;
    // overflow-y: scroll;
    // overflow-x: hidden;
    // scroll-behavior: smooth;

}

mat-sidenav::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/css-assets/bg-pattern.jpg');
    background-size: cover;
    opacity: 0.02;
}

mat-sidenav * {
    position: relative;
}

.menu-button {
    width: 100%;
}

.menu-img {
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.toolbar-button:hover {
    transform: scale(1.2);
}

.mat-drawer-content{
    overflow: hidden;
}
