.grid-container {
    border: 1rem black;
    height: 100%;
    width: 100px;
    display: inline;
    
}

.mat-container {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 2rem;
}

.mobile-container {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 2rem;
}

.pizza-img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.pizza-img-container{
    // margin: 2rem;
}



